.App {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.onboard {
  margin-top: 25vh;
  height: 50vh;
  width: 50vw;
  border: solid white 3px;
  border-radius: 2%;
  background-color: #B41C30;
  color: white;
}

button {
  height: 8vh;
  width: 8vw;
  border-radius: 10%;
  font-size: 2rem;
  color: white;
  background-color: #39386F;
  margin-top: 20%;
}

button:hover {
  cursor: pointer;
}